.header
  a(href=props.homeUrl)
    img.logo(src=require('~/assets/logo.svg'))

  Menu(mode="horizontal")
    Menu-Item
      a(href=props.homeUrl) 首页
    Menu-Item
      Link(href="/login"): a 登录
    Menu-Item
      a(href="#") 免费注册

  = props.children
