.header
  base-width $width
  overflow hidden

  .logo
    height 28px

  .ant-menu
    &-horizontal
      display inline-block
      margin-left 20px
      line-height 60px

    &-item
      &:hover
        background $nav-hover-color

      &.menu--dropdown
        padding-right 0

        &.ant-menu-item-active
          background $nav-hover-color

        .ant-avatar
          margin -4px 12px 0 0

        .anticon
          margin 0 0 0 8px

    &-submenu
      &-open, &:hover
        color $white !important
        background $nav-hover-color

  &--dropdown
    top $layout-header-height !important

    .ant-dropdown-menu
      padding 0
      border-radius 0 0 $border-radius-base $border-radius-base
      box-shadow 0 1px 4px 0 $black-20
      background $nav-hover-color
      overflow hidden

      &-item
        padding 0 20px
        min-width 160px
        line-height 40px
        font-size $font-size-base
        color $text-color

        &:hover
          background $black

        a
          color $white
