.ant-layout
  height 100%

  &-header, &-footer
    min-width $min-width

  &-footer
    margin-top 20px
    line-height $line-height
    color $text-color-secondary
    text-align center
    background #f7fafc

  &-content
    height 100%

.layout
  &--wrapper
    base-width $width

.layout-base
  min-width $min-width
