import-less('antd/es/style/themes/index')
import-less('index')
@import './basic-css'

$width = 1250px
$min-width = $width + 80px
$line-height = 20px

$box-shadow = (0 1px 4px 0 $black-20)
$title-color = #32325d
$blue = $info-color
$lime = $success-color
$orange = #ff7a45
$purple = #9254de
$cyan = #13c2c2
$pink = #f759ab
$red = $error-color
$green = #8aab43
$gray = #bfbfbf
$nav-hover-color = #282828
$popcorn = $warning-color
$white-15 = rgba($white, .15)
$black-05 = rgba($black, .05)
$black-20 = rgba($black, .2)
$black-25 = rgba($black, .25)
$black-45 = rgba($black, .45)
